{% extends "template.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <div class="hero-unit">
    <h1>Livestatus-service</h1>
    <p class="lead">
      Livestatus-service exposes the functionality of a livestatus socket to the outside world over HTTP.
    </p>
  </div>
  <div class="row-fluid marketing">

    <div class="span6">
        <h2>Performing queries</h2>
        <p>
          <code>GET /query?q=<em>QUERY</em></code>
        </p>
        <p>
          Will perform a query using <em>QUERY</em>.<br />
          An easy example would be <a href="/query?q=GET%20hosts"><code>/query?q=GET%20hosts</code></a>
        </p>
        <p>
          If you need newlines, e.G. to add a filter, use <code>\n</code>.
        </p>
    </div>

    <div class="span6">
        <h2>Performing commands</h2>
        <p>
          <code>GET /cmd?q=<em>COMMAND</em></code>
        </p>
        <p>
          Will perform a command using <em>COMMAND</em>.<br />
          The <code>COMMAND [%s]</code> directive will be inserted for you.<br />
          An easy example would be <a href="/cmd?q=DISABLE_HOST_SVC_CHECKS;devytc"> <code>/cmd?q=DISABLE_HOST_SVC_CHECKS;devytc</code></a>
        </p>
        <p>
          Refer to the <a href="http://docs.icinga.org/latest/en/extcommands2.html"> list of external commands</a> for more information.
        </p>
    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
<hr>
<div class="container">
  <div class="offset1 span5">
    {{ super() }}
  </div>
</div>

<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
{% endblock %}


